# LIST
#A list is a container in Python which can hold different dataypes in it. also called as an object.

lst = ['75','90','45','10','999.9',"sabiha",[33,44,55]]
lst

In [3]:
#List default Functions.
# 1 append: Adds a single element to a list.

lst.append("PUNE")

In [4]:
lst

['75', '90', '45', '10', '999.9', 'sabiha', [33, 44, 55], 'PUNE']

In [5]:
#2 index: gives the nth element in the list.

lst.index("sabiha")

5

In [6]:
# 3 len : gives the length of the list.

print("the length of the list is", len(lst))

the length of the list is 8

In [16]:
#4 sort: sorts list in ascending order.

lst.sort
(print (lst))

['10', '45', '75', '90', '999.9', 'sabiha', [33, 44, 55], 'PUNE']

In [21]:
#5 extend : Adds multiple elements to a list.

lst.extend (['777.7, 888.8,333.3'])
lst

['10',
 '45',
 '75',
 '90',
 '999.9',
 'sabiha',
 [33, 44, 55],
 'PUNE',
 '777.7, 888.8,333.3']

# DICTIONARY

In [22]:
# A dictionary is complex data  structure which has unordered key value pairs.

dit = {"name":"SABIHA", "Address" : "MUMBAI", "number":'635425',"email" : "sam@outlook.com"}

In [23]:
dit

{'name': 'SABIHA',
 'Address': 'MUMBAI',
 'number': '635425',
 'email': 'sam@outlook.com'}

In [25]:
#Dictionary and its Methods.
# 1 dit.items() : returns key value pairs as tuple.
 
dit.items()

dict_items([('name', 'SABIHA'), ('Address', 'MUMBAI'), ('number', '635425'), ('email', 'sam@outlook.com')])

In [26]:
#2 dit.keys(): It returns all the keys of the dictionary.

dit.keys()

dict_keys(['name', 'Address', 'number', 'email'])

In [27]:
#3 dit.values(): It returns all the values of the dictionary.

dit.values()

dict_values(['SABIHA', 'MUMBAI', '635425', 'sam@outlook.com'])

In [29]:
# 4 dit.pop(): pops the specifies value of the key.

dit.pop("email")

'sam@outlook.com'

In [34]:
# 5 len dit():  is used to calculate the length of the dictionary.
dit

{'name': 'SABIHA', 'Address': 'MUMBAI', 'number': '635425'}

In [35]:
len (dit)

3

In [36]:
# setdefault: sets a default value for the key.
dit.setdefault("email")

In [37]:
dit

{'name': 'SABIHA', 'Address': 'MUMBAI', 'number': '635425', 'email': None}

# SETS

In [38]:
# SETS are used for unique values in python and are unordered.

st = {"sam", "LetsUpgrade", 1,1,2,3,3,4,5,5,6,6,7}

In [39]:
st

{1, 2, 3, 4, 5, 6, 7, 'LetsUpgrade', 'sam'}

In [40]:
#SETS and its functions
# 1. add: adds item to the set.
 
st.add("Boseman")
st.add("Sushant")

In [41]:
st

{1, 2, 3, 4, 5, 6, 7, 'Boseman', 'LetsUpgrade', 'Sushant', 'sam'}

In [42]:
#2. update: updates the set.

st.update([77,88])

In [43]:
st

{1, 2, 3, 4, 5, 6, 7, 77, 88, 'Boseman', 'LetsUpgrade', 'Sushant', 'sam'}

In [46]:
#3.Intersection() or '&' is used: result is the set of the elements that are common in both sets.

set1 = {"SUNDAY","MONDAY","WEDNESDAY","FRIDAY"}

set2 = {"MONDAY","TUESDAY","THURSDAY","FRIDAY"}

print (set1 & set2)

{'MONDAY', 'FRIDAY'}

In [47]:
# 4. UNION() or | is used : result is the union of both the elements. the elements are not repeated.

set1 = {"SUNDAY","MONDAY","WEDNESDAY","FRIDAY"}

set2 = {"MONDAY","TUESDAY","THURSDAY","FRIDAY"}

print(set1 | set2)

{'MONDAY', 'THURSDAY', 'FRIDAY', 'WEDNESDAY', 'SUNDAY', 'TUESDAY'}

In [59]:
#5 difference() or subtraction operator (-): The difference of two sets can be calculated by using the intersection() method. 
#Suppose there are two sets set1 and set2, and the difference is 1-2 that denotes
#the resulting set will be obtained that element of 1, which is not present in the set 2.

set1 = {"SUNDAY","MONDAY","WEDNESDAY","FRIDAY"}

set2 = {"MONDAY","TUESDAY","THURSDAY","FRIDAY"}

print(set1.difference(set2))

{'SUNDAY', 'WEDNESDAY'}

# TUPLES

In [49]:
#A tuple is an immutable collection of objects.

tup = ("Shubham", "PUNE", 1,2,3,45)

In [50]:
tup

('Shubham', 'PUNE', 1, 2, 3, 45)

In [52]:
#Tuple has only two methods.
#1.count(): gives the index no.of the element.

tup.count("Subham")

0

In [56]:
#2. index(): index specifies the no. of element in the tuple.

tup.index(3)

4

In [57]:
tup[-6] # is reverse indexing

'Shubham'

# STRINGS

In [62]:
#Python string is the collection of the characters surrounded by single quotes, double quotes, or triple quotes.

str1= 'Hello LetsUpgrade'
print(str1)

str2 = "HELLO LETSUPGRADE"
print(str2)

Hello LetsUpgrade
HELLO LETSUPGRADE

In [70]:
# while using strings we can use different operators like "+,-,*,%,not in etc."
#1. if we need to concatenate two or three strings we use '+'
 
str1 = "GOOD EVENING"

str2 = "HOW ARE YOU DOING"

str1 + "  " + str2

'GOOD EVENING  HOW ARE YOU DOING'

In [76]:
#METHODS: capitalize(): initial letter is capitalized.

str1 = 'good morning'

str1.capitalize()

'Good morning'

In [81]:
#2.isidentifier(): method is used to check whether a string is a valid identifier or not.

str1 = "abcdef"

str2 = '22,45,66'

str3 = "&abc"

str6= str1.isidentifier()
str7= str2.isidentifier()
str8= str3.isidentifier()

print(str6)
print(str7)
print(str8)

True
False
False

In [82]:
#3. len(string): specifies the length of the string.

str1 = "Pubg is banned"

len(str1)

14

In [85]:
#4 join(): method is used to concat a string with iterable object and returns a new string.

str1 = "*"
lst = ['1','2','3','4','5']

str2= str1.join(lst)

print(str2)

1*2*3*4*5

In [87]:
#5 upper(): method capitalizes all the elements in the string

str1 = "where are you from?"

str2 = str1.upper()

print(str2)

WHERE ARE YOU FROM?